@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: 'Get Schwifty';
  --color-green: #97ce4c;
}

body {
  font-family: var(--font-family);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #f0e14a;
}

main {
  overflow-y: auto;
  padding: 20px;
}

.title {
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: var(--color-primary);
  color: white;
  border-bottom: 2px solid var(--color-secondary);
}

@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}
