@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --color-green: #97ce4c;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #f0f0f0;
}

main {
  overflow-y: auto;
  padding: 20px;
}

.title {
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  border-bottom: 2px solid var(--color-secondary);
}
